@media (min-width: 768px) {
    .cardContainer {
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
    .card {
        width: 768px;   /* so the image doesn't expand too much */
    }
} 